<Style>
  /* Main Footer */

footer ul{  padding-left: 0;  list-style: none;}


/* Footer light */

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #ffffff;}
.widget li a:hover{ color: #492F44;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}





.btn:hover, .btn:focus, .btn.active {background: #FFB701;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

</Style>

<footer class="footer text-light  py-3 mt-auto">
<div class="container">
  
  <div class="main-footer widgets-dark typo-light">

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box">
          <h5 class="widget-title">OzarkEats<span></span></h5>
          <p>Locally grown food reviews, with a focus on the Ozarks..</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
          <h5 class="widget-title">Quick Links<span></span></h5>
          <ul class="thumbnail-widget">
            <li>
              <div class="thumb-content">
                <a href="/contact">Contact</a>
              </div>
            </li>
            <li>
              <div class="thumb-content">
                <a href="/register">Register</a>
              </div>
            </li>
            <li>
              <div class="thumb-content">
                <a href="/login">Login</a>
              </div>
            </li>

            <li>
              <div class="thumb-content"><a href="/about">About</a></div>
            </li>
            <li>
              <div class="thumb-content"><a href="/restaurants/random">Random Restaurant</a></div>
            </li>
          </ul>
        </div>
      </div>

      
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
          <h5 class="widget-title">Like what you see?<span></span></h5>
          <a class="btn btn-light btn-lg" href="#" target="_blank"
            >Buy me a coffee <i class="fas fa-mug-hot"></i></a
          >
        </div>
      </div>

      
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>OzarkEats © 2021. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>

</div>
</footer>
