<% layout('layouts/boilerplate')%>
<div class="row justify-content-evenly align-items-center">
  <h1 class="text-center">New Restaurant</h1>
  <div
    class="
      col-md-6
      offset-md-3
      col-xl-5
      offset-xl-0
      justify-content-center
      align-items-center
    "
  >
    <div class="">
      <img
        src="/images/undraw_pizza_sharing_wxop.svg"
        alt=""
        srcset=""
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="
      card
      col-md-6
      offset-md-3
      col-xl-4
      offset-xl-0
      justify-content-center
      align-items-center
    "
  >
    <div class="">
      <div class="card-body">
        <form
          action="/restaurants"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="restaurant[title]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="restaurant[location]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="label" for="price">Restaurant Price</label>
            <div class="mb-3">
              <select name="restaurant[price]" id="price" class="form-select">
                <option selected value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
                <option value="4">$$$$</option>
                <option value="5">$$$$</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="restaurant[description]"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-file-label form-label" for="image">
              <span class="form-file-text custom-file-label"
                >Choose image(s)...</span
              >
              <span class="form-file-button">Browse</span>
            </label>
            <div class="form-file custom-file">
              <input
                type="file"
                class="form-file-input form-control"
                id="image"
                name="image"
                multiple
              />
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-light">Add Restaurant</button>
          </div>
        </form>
        <a href="/restaurants">All Restaurants</a>
      </div>
    </div>
  </div>
</div>
